<h3 style="text-align: center;">Player Lineup</h3>

<!--Position Selection Buttons -->
<div class="container">
	<button (click)="onSelect(null)">All</button>
	<span *ngFor="let position of positions">
		<button (click)="onSelect(position)">{{position}}</button>
	</span>
</div>


<table id="playerTable">
	<tr>
	  <th>Name</th>
		<th>Position</th>
		<th>Jersey Number</th>
		<th>Date Of Birth</th>
		<th>Nationality</th>
		<th>Contract Until</th>
		<th>Market Value</th>
	</tr>

	<tbody *ngFor="let player of players">
		<tr *ngIf="checkPosition(player)">
		  <td>{{player.name}}</td>
		  <td>{{player.position}}</td>
		  <td>{{player.jerseyNumber}}</td>
		  <td>{{player.dateOfBirth}}</td>
		  <td>{{player.nationality}}</td>
		  <td>{{player.contractUntil}}</td>
		  <td>{{player.marketValue}}</td>
		</tr>
	</tbody>
</table> 
